<!-- <div class="row">
    <div class="col-md-6 form-group">
        <label for="disciplinaInput"></label>
        <input type="text" class="form-control" id="disciplinaInput" #disciplinaInput> 
    </div>
    <div class="col-md-6 form-group">
        <button class="btn btn-primary btn-block " (click)="adicionar(disciplinaInput.value)">Cadastrar</button>
    </div>
</div> -->

<form class="form-inline" id="form">
    <div class="form-group mx-sm-3 mb-2">
        <label for="disciplinaInput">Disciplina: </label>
        <input type="text" class="form-control" id="disciplinaInput" #disciplinaInput>
    </div>
<button type="button" class="btn btn-primary mb-2"(click)="adicionar(disciplinaInput.value)">Cadastrar</button>
</form>