<table class="table table-hover table-striped table-bordered" id="tabela">
    <thead id="titulo">
        <tr>
            <th>Corpo Docente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Everson Denis</td>
        </tr>
        <tr>
            <td>Murilo Zanini</td>
        </tr>
        <tr>
            <td>Rodrigo Bossini</td>
        </tr>
        <tr>
            <td>Ana Paula Gonçalves</td>
        </tr>
        <tr>
            <td>Sergio Ribeiro</td>
        </tr>
        <tr>
            <td>Aparecido Vieira</td>
        </tr>
        <tr>
            <td>Carlos Nakano</td>
        </tr>
    </tbody>
</table>
