<table class="table table-hover table-striped table-bordered" id="tabela">
    <thead id="titulo">
        <tr>
            <th>Disciplinas</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>Redes</td>
        </tr>
        <tr>
            <td>Microcontroladores e Sistemas Embarcados</td>
        </tr>
        <tr>
            <td>Linguagens de Programação II</td>
        </tr>
        <tr>
            <td>Engenharia de Software</td>
        </tr>
        <tr>
            <td>Sistemas Embarcados</td>
        </tr>
        <tr>
            <td>Bancos de Dados</td>
        </tr>
        <tr>
            <td>Empreendedorismo</td>
        </tr> -->
        <tr *ngFor='let curso of cursos'>
            <td>{{curso.nome}}</td>
        </tr>
    </tbody>
</table>